<div class="editorBase">
    <input class="input-xxlarge" type="text" placeholder="Post heading" ng-model="post.title">
    <textarea ui-tinymce ng-model="post.text" class="editor"></textarea>
</div>
<p class="outsideText">Preview:</p>
<article class="post">
    <h3>{{post.title}}</h3>
    <div ng-bind-html-unsafe="post.text"></div>
    <footer>
        <div class="pull-right">
            Published: <b><span ng-bind="post.getMomentStamp()"></span></b>
        </div>
    </footer>
</article>
<!--<button ng-click="create()" class="btn-primary btn-large" ng-show="create">Create</button>-->
<!--<button ng-click="saveChanges()" class="btn-primary btn-large" ng-show="saveChanges">Save Changes</button>-->
<button ng-click="create()" class="btn-primary btn-large" >Create</button>
<button ng-click="saveChanges()" class="btn-primary btn-large" >Save Changes</button>