<article ng-repeat="post in posts">
    <h3>{{post.title}}</h3>
    <div ng-bind-html-unsafe="post.text"></div>
    <footer>
        <b>&copy;{{post.author}}</b>
        <button class="btn-small pull-right" ng-click="editPost(post)" ng-show="isAdmin">Edit this</button>
        <button class="btn-danger pull-right" ng-click="deletePost(post)" ng-show="isAdmin">Delete</button>
    </footer>
</article>
<div class="pageFooter">
    <pagination num-pages="pagination.pageCount" current-page="pagination.currentPage" class="pagination pagination-centered"
                previous-text="&laquo;" next-text="&raquo;" on-select-page="pagination.goToPage" max-size="12"></pagination>
    Posts on one page:
    <div class="btn-group pull-right">
        <button class="btn" ng-bind="size" ng-repeat="size in pagination.pageSizeOptions" ng-click="pagination.setPageSize(size)"></button>
    </div>
</div>
